body{
	font-family: 'Segoe UI';
	padding-top: 60px;
}

.hero-feature {
    margin-bottom: 30px;
}

thead{
	background-color:#aa767b;
	color:#fff;
}

.table td.tdRight {
  text-align: right;
}

.table td.tdCenter {
  text-align: center;
}

.right{
	float:right;
}

#slides_control > div{
  height:150px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

/*.caption {
    height: 130px;
    overflow: hidden;
}*/

.caption h4 {
    white-space: nowrap;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.shadow{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}