<auctions-nav></auctions-nav>
<pagination-controls></pagination-controls>
<div class="row">
    <div class="col-sm-4 col-lg-4 col-md-4 repeat-animation" dir-paginate="item in itms = (items | orderByPriority | filter:searchText | filter:category | orderBy:'name') | itemsPerPage: pageSize" current-page="currentPage">
        <div class="thumbnail shadow">
            <a href="#/item/{{item.$id}}">
                <img ng-src="{{item.item.images[0]}}" alt="{{item.item.name}}" />
            </a>
            <div class="caption">
                <h4 class="pull-right">{{item.item.starting_bid | currency:"&euro;"}}</h4>
                <h4><a href="#/item/{{item.$id}}">{{item.item.name}}</a></h4>
                <p style="font-size:1em;">{{item.item.description | limitTo: 190}}</p>
                <button type="button" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"></span> Register</button>
                <a href="#item/{{item.$id}}">
                    <button type="button" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-search"></span> View</button>
                </a>
            </div>
            <div class="ratings">
                <p class="pull-right">{{item.seller.reviews.length}} reviews</p>
                <seller-avg-rating max="5" reviews="item.seller.reviews"></seller-avg-rating>
            </div>
        </div>
    </div>
</div>
<pagination-controls></pagination-controls>
