<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header light">
                <span class="fa fa-tasks fa-2x"></span> Dashboard
                <small>System Monitor</small>
            </h1>
        </div>
    </div>
    <div class="col-lg-12">
        <ul class="nav nav-pills">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" title="Search" placeholder="Filter Auctions" data-ng-model="searchText" />
                </div>
            </form>
        </ul>
    </div>
    <div class="col-lg-12">
        <div ng-hide="dashboard.message == ''" class="alert alert-danger" role="alert">
            WARNING | Check the health of the following services: {{dashboard.message}}
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <tbody>
                    <tr ng-repeat="auction in auctions | orderByPriority | filter:searchText">
                        <td>
                            <h5>Auction #{{auction._id}}</h5>
                        </td>
                        <td>
                            <img ng-src="{{auction.image}}" alt="{{auction.name}}" height="100" width="180" />
                        </td>
                        <td>
                            <h5>Name: {{auction.name}}</h5>
                        </td>
                        <td>
                            <h5>Current Bid: {{auction.current_bid | currency:"&euro;"}}</h5>
                        </td>
                        <td>
                            <h5>Winner: {{auction.winner}}</h5>
                        </td>
                        <td>
                            <h5>Status: {{auction.status}}</h5>
                        </td>
                        <td class="tdCenter">
                            <a href="#log/{{auction.$id}}">
                                <button type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-search"></span> View Log</button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>