<div class="container">
    <header class="jumbotron shadow">
        <h1>Welcome.</h1>
        <p>Whether selling or buying, this is the site for you...!</p>
        <p>
            <a class="btn btn-primary btn-lg">Learn More!</a>
        </p>
    </header>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable shadow">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Check out our App! Find it on the App store, Play Store or Windows Store, for an easier way to buy and sell goods on the go!
            </div>
            <h2 class="page-header"><span class="fa fa-th"></span> Featured Auctions</h2>
        </div>
    </div>
</div>
