<!-- Author - Conor Hayes
    Coding Standards -> http://docs.ckan.org/en/latest/contributing/html.html
    Layout -> http://startbootstrap.com/template-overviews/heroic-features/
    -->

<div class="container">
    <header class="jumbotron shadow">
        <h1 class="light">Welcome.</h1>
        <p>Whether selling or buying, this is the site for you! Also, check out our App! Find it on the App store, Play Store or Windows Store, for an easier way to buy and sell goods on the go!</p>
        <p><a class="btn btn-primary btn-lg">Learn More!</a></p>
    </header>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header light"><span class="fa fa-th"></span> Featured Auctions</h2>
        </div>
    </div>
    <!-- Loading spinner -->
    <div style="text-align:center;font-size:2em;" ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></div>
    <!-- Show four items as featured auction items -->
    <div class="row">
        <div class="col-md-3 col-sm-6 hero-feature repeat-animation" ng-repeat="item in items | orderByPriority | orderBy:'name'" items-loaded>
            <div class="thumbnail shadow">
                <a href="#/item/{{item.$id}}">
                    <img ng-src="{{item.item.images[0]}}" alt="{{item.item.name}}" />
                </a>
                <div class="caption">
                    <h4 class="pull-right">{{item.item.starting_bid | currency:"&euro;"}}</h4>
                    <h4><a href="#/item/{{item.$id}}">{{item.item.name}}</a></h4>
                    <p style="font-size:1em;">{{item.item.description | limitTo : 120}}...</p>
                    <button type="button" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"></span> Register</button>
                    <a href="#item/{{item.$id}}">
                        <button type="button" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-search"></span> View</button>
                    </a>
                </div>
                <!-- Shows the average rating for the seller -->
                <div class="ratings">
                    <p class="pull-right">{{item.seller.reviews.length}} reviews</p>
                    <!-- This uses the a user-defined directive -->
                    <seller-avg-rating max="5" reviews="item.seller.reviews"></seller-avg-rating>
                </div>
            </div>
        </div>
    </div>
</div>
